* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#wrap {
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* .navigate {
    min-width: 18%;
    width: 18%;
    height: 100%;
    min-height: 100%;
    float: left;
    background: #D9E1F2 url('../img/title.jpg') no-repeat 40% 2%;
} */

/* .right_container {
    min-width: 82%;
    width: 82%;
    min-height: 100%;
    height: 100%;
    float: right;

} */

.container {
    flex: auto;
    padding: 1em 2.5em;
}

header {
    height: 4.5em;
    min-height: 4.5em;
    padding: 0.5em;
    margin-bottom: 0%;
    line-height: 0.1em;
    background: #D9E1F2;

}

footer {
    margin-top: 2em;
    min-height: 59px;
    height: 59px;
    line-height: 59px;
    color: #837280;
    border-top: 1px solid #d6dbde;
    background: #D9E1F2 url('../img/title.jpg') no-repeat 2em 0.5em;
}

.right_header {
    height: 100%;
    text-align: right;
    float: right;
    width: 40%;
    margin-top: 1em;
}

.label_list {
    padding-top: 30%;
    padding-left: 12%;
}

/* .ul li a {
    float: left;
    color: black;
} */


.title {
    float: left;
}

.btn {
    height: 2em;
    line-height: 2em;
    font-weight: bold;
    display: inline-block;
    *display: inline;
    padding: 0px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
    cursor: pointer;
    background-color: #D9D9D9;
    border: 1px solid black;
    border-radius: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}

.header_title {
    width: 60%;
    float: left;
    margin-top: 0em;

}

.header_user {
    width: 50%;
    font-size: 1em;
    margin-right: 0.5em;
    vertical-align: middle;

}

.p_sub_title {
    margin-top: 2em;
    margin-left: 2em;
    font-size: 1em;
}

.p_title {
    font-weight: bold;
    margin: 0.5em;
    font-size: 1.5em;
}

#navi_bar{
    display: flex;
    flex-direction: row;
}

#navi_bar li ul {
    height: 0;
    width: 14em;
    overflow: hidden;
    text-align: left;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 0.4em;
    z-index: 101;
    position: absolute;
}

#navi_bar li ul li {
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    list-style: none;
    padding: 26px 6px;
    border-top: #f2f2f2 0.8px solid;
    border-bottom: #f2f2f2 0.8px solid;
}

#navi_bar li ul li:hover a {
    background-color: #D9E1F2;
}



#navi_bar li {
    list-style: none;
    margin-right: 2em;
    cursor: pointer;
    height: fit-content;
}

.menu_title {
    font-weight: bold;
}

ul#navi_bar li:hover ul {
    height: 4em;
    overflow: visible;
    z-index: 101;
}


#navi_bar a {
    color: black;
    text-decoration: none;
    /* font-weight: bold; */
    margin-left: 1em;
}

h1{
    margin:15px  0px ;
}
