.selectTable {
  font-size: var(--search-name-font-size);
  line-height: var(--search-name-line-height);
}
.selectTable tbody tr td {
  font-size: var(--search-name-font-size);
  line-height:var(--search-name-line-height);
}

.selectTable tbody tr .radioType {
  font-size: var(--radio-font-size);
}

.radioCheck {
  margin: 10px 0px 10px 30px;
}

.radioType input[type="radio"]:checked{
  accent-color: black;
}

.searchButton {
  min-width: 65px;
  margin-top: var(--margin);
}

.name {
  width: 150px;
  min-width: 140px;
  padding: 8px 5px 8px 20px;
}

.infoInput {
  flex: 1;
  border: 1px solid black;
  height: var(--input-height);
}

.dateInput {
  border: 1px solid black;
  height: var(--input-height);

}

.splitLine {
  width: 99%;
  margin: 12px 0px 12px 10px;
}

.tableHeader {
  background-color: #d9e1f2;
  font-size: var(--table-font-size);
  font-weight: bold;
}

.tableHeader tr td {
  top: 0;
  border-right: 1px solid black;
  border-left: 1px solid black;
  position: sticky;
  background-color: #d9e1f2;
}

#detail-div {
  width: 98%;
}

#detail-table {
  height: 245px;
  overflow-y: scroll;
  min-height: 60px;
 width: 100%;
 min-width: 100%;
}

.infoTable {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px 0px 0px 10px;
  width: calc(100% - 0.84em);
  min-width: calc(100% - 0.84em);
  font-size: var(--table-font-size);
}

.infoTable tbody tr td {  
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2.5px var(--table-padding);

}

.infoTable tr td:nth-child(5) {
  width: 250px;
  min-width: 250px;
}

.sortButton {
  width: 20px;
  border: 0px;
  border-left: 1px solid black;
  margin: 0px;
  padding: 0px;
  line-height: 30px;
  text-align: center;
  background-color: #d9e1f2;
}

.td_div_flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  height: var(--tr-height);

}

.scrBorder{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.div-inlin {
  width: 40%;
  padding: var(--table-padding) ;
}

.flex_5 {
  width: 40%;
  text-align: right;
}

.allCheckbox {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.align-left {
  display: inline-block;
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
  vertical-align: middle;
}

.button-area {
  text-align: right;
}

.button-area .button {
  padding: 2px 2px;
}

footer {
  margin-top: 0em;
}
.container{
  padding-bottom: 0px;
}