@media screen and (min-width: 0px) and (max-width:992px) {
	#uploadFileListPhone{
		margin-bottom: 1em;
	}
	
	#uploadFileList{
		display: none;
	}
	
	.uploadArea{
		margin-top: 10px;
	}
	
	.uploadBtn{
	    height: 2em !important;
	    width: 20em;
	}
	
	#uploadResult{
		display: none;
	}
	
	.submitBtn{
	    margin-top: 20px;
	    margin-left:10px;
	    height: 2em !important;
	    width: 20em;
	}
	
	#buttonArea{
	    justify-content: end;
	}
	
	.wd1{
    	width: 50px;
	}
	.wd3{
	    width: 300px;
	}
	.wd6{
	    width: 600px;
	}
}


@media screen and (min-width: 1080px) {
	#uploadFileListPhone{
		display: none;
	}
	
	.uploadBtn{
	    height: 1.3em !important;
	    width: 13em;
	    line-height: 1em;
	}
	
	#uploadResultPhone{
		display: none;
	}
	
	.submitBtn{
	    margin-top: 20px;
	    margin-left:10px;
	    height: 2em !important;
	}
	
	#buttonArea{
	    display: flex;
	    justify-content: end;
	}
	
	.wd1{
    	width: 50px;
	}
	.wd3{
	    width: 256px;
	}
	.wd6{
	    width: 640px;
	}
}
.container{
    overflow: auto;
}

.uploadArea{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.fileDropArea{
    border: 2px solid #7F7F7F;
    border-style:dashed;
    text-align: center;
    max-width: 95%;
}
input{
    margin-top: 10px;
}

table{
    border-collapse:collapse;
    border-spacing: 0;
    font-size: var(--table-font-size);
}
tr{
    height: var(--tr-height);
}
th{
    background:#B5BEE7;
    border: 1px solid #000000;
    text-align: left;
    padding: 2.5px var(--table-padding);
    color : white;
    cursor: pointer;

}

.redFont{
    color: red;
}

#uploadResult{
    width:fit-content;
    margin-left: 1em;
}

footer {
    margin-top: 0em;
    border-top: 0px;
}
#uploadResult{
    font-size: 14px;
}

.inputfile{
    width: 0.1px; 
    height: 0.1px; 
    opacity: 0; 
    overflow: hidden; 
    position: absolute; 
    z-index: -1;
}

.tableHeader {
  background-color: #d9e1f2;
  font-size: var(--table-font-size);
  font-weight: bold;
}

.tableHeader tr td {
  top: 0;
  border-right: 1px solid black;
  border-left: 1px solid black;
  position: sticky;
  background-color: #d9e1f2;
}

.infoTable {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px 0px 0px 10px;
  font-size: var(--table-font-size);
}

.infoTable tbody tr td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2.5px   var(--table-padding);
  text-align: center;
}

#detail-table {
  height: 150px;
  overflow-y: scroll;
  min-height: 150px;
  min-width: 750px;
}

.scrBorder {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.td_div_flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  height: var(--tr-height);

}

.scrBorder {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}