#searchArea{
    width: 26em;
}
.searchBox{
    display: flex;
    flex-direction: row;
    height: 2.5em;
    padding: 8px 5px 8px 20px;
}
.searchSelect{
    align-self: center;
    margin-left: 1.6em;
    width: 14em;
    height:var(--input-height);
    font-size:var(--search-name-font-size);
}
.searchName{
    align-self: center;
    width: 9em;
    font-size:var(--search-name-font-size);
}
.searchBtn{
    min-width: 65px;
    float: right;
    margin-top: 0.5em;
}
hr{
    margin-top: 2.5em;
}
table{
    border-collapse:collapse;
    border-spacing: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #000000;
}
.overflow{
    margin-top: 12px;
    margin-bottom: 10px;
    height: 28.5em;
    width: 40em;
    display: block; 
    overflow-y: scroll;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-size: var(--table-font-size);

}
tr{
    height:var(--tr-height);
}
th{
    background:#D9E1F2;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    top: 0;
    left: 0;
    position:sticky;
    
}
.thDiv{
    display: flex;
    height:100%;
    border-bottom: 1px solid #000000;
    align-items: center;
    padding: var(--table-padding);

}
td{
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: var(--table-padding);

}
.textTh{
    width:12em;
    text-align: left;
}
.markTh{
    width:2em;
}
.container{
    padding-bottom: 0em;
  }

  footer {
    margin-top: 0em;
  }