.selectTable {
  min-width: 700px;
  font-size: 20px;
  line-height: 20px;
}

.selectTable tr .radioType {
  font-size: 10px;
}

.radioCheck {
  margin: 10px 0px 10px 30px;
}

.radioType input[type="radio"]:checked {
  accent-color: black;
}

.name {
  width: 170px;
  min-width: 140px;
  padding: 10px 5px 10px 20px;
}

.searchButton {
  min-width: 65px;
  height: 22px;
  margin: 0px;
  border: 1px solid black;
  margin-right: 100px;
  padding: 4px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  background-color: #d9d9d9;
}

.splitLine {
  width: 82%;
  margin: 20px 0px 20px 10px;
}

#detail-div {
  width: 80%;
}

#detail-table {
  height: 305px;
  overflow-y: scroll;
  min-height: 60px;
  min-width: 750px;
}

.tableHeader {
  background-color: #d9e1f2;
  font-size: 10px;
  font-weight: bold;
}

.tableHeader tr td {
  top: 0;
  border-right: 1px solid black;
  border-left: 1px solid black;
  position: sticky;
  background-color: #d9e1f2;
}

.infoTable {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px 0px 0px 10px;
}

.infoTable tbody tr td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 250px;
  height: 30px;
  padding: 0px;
}

.align-center {
  text-align: center;
}

.td_div_flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.scrBorder {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.flex_left {
  width: 50%;
}

.flex_right {
  width: 50%;
  text-align: right;
}

.div-inlin {
  width: 40%;
}

.flex_5 {
  width: 40%;
  text-align: right;
}

.sortButton {
  width: 20px;
  border: 0px;
  border-left: 1px solid black;
  margin: 0px;
  padding: 0px;
  line-height: 30px;
  text-align: center;
  background-color: #d9e1f2;
}

.allCheckbox {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 30px;
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.button-area {
  margin: 8px 0px 10px 0px;
  text-align: right;
}

.button-area button {
  margin: 3px;
  min-width: 65px;
  height: 22px;
  border: 1px solid black;
  padding: 4px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  background-color: #d9d9d9;
}