/*  */
@media screen and (min-width: 0px) and (max-width:1080px) {
    #searchArea{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 10em;
    }
    .searchBox{
        display: flex;
        flex-direction: column;
        padding: 2px;
        flex: 1;
    }
    .searchName{
        align-self: center;
        width: 70%;
        font-size:var(--search-name-font-size);
        line-height: 1.8em;
    }
    .searchSelect{
        align-self: center;
        width: 70%;
        height:var(--input-height);
        font-size:var(--search-name-font-size);
        line-height: 1.8em;
    
    }
    .searchBtn{
        min-width: 100px;
        margin-top: 1.5em;
        margin-left: 30%;
    }
}


/*  */
@media screen and (min-width: 1080px) {
    #searchArea{
        width: 80%;
        background-color: #F2F2F2;
        border: #000000 1px solid;
        display: flex;
        flex-direction: row;
        height: 5em;
    }
    .searchBox{
        display: flex;
        flex-direction: column;
        height: 5em;
        padding: 10px;
        flex: 1;
    }
    .searchName{
        align-self: center;
        width: 80%;
        font-size:var(--search-name-font-size);
        line-height: 1.8em;
    }
    .searchSelect{
        align-self: center;
        width: 80%;
        height:var(--input-height);
        font-size:var(--search-name-font-size);
        line-height: 1.8em;
    
    }
    .searchBtn{
        min-width: 100px;
        margin-top: 0.5em;
    }
}







.message{
    margin-top: 15px;
}

table{
    border-collapse:collapse;
    border-spacing: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #000000;
}
.overflow{
    margin-top: 12px;
    margin-bottom: 10px;
    height: 23em;
    width: 100%;
    display: block; 
    overflow-y: scroll;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-size: var(--table-font-size);

}
tr{
    height:var(--tr-height);
}
th{
    background:#D9E1F2;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    top: 0;
    left: 0;
    position:sticky;
    
}
.thDiv{
    display: flex;
    height:100%;
    border-bottom: 1px solid #000000;
    align-items: center;
    padding: var(--table-padding);

}
.thno{
    width: 5%;
}
.tdno{
    width: 5%;
}
td{
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: var(--table-padding);

}
.textTh{
    width:20%;
    text-align: left;
}
.markTh{
    width:11%;
}
.container{
    padding-bottom: 0em;
    padding-top: 0;
  }

  footer {
    margin-top: 0em;
  }

  .dateUpdateBtn{
    float: right;
    min-width: 140px;
    margin-bottom: 0;
  }