.selectTable {
  min-width: 700px;
  font-size: var(--search-name-font-size);
  line-height: var(--search-name-line-height);
}

.selectTable tr .radioType {
  font-size: var(--radio-font-size);
}

.radioCheck {
  margin: 10px 0px 10px 30px;
}

.radioType input[type="radio"]:checked {
  accent-color: black;
}
.dateInput {
  border: 1px solid black;
  height: var(--input-height);

}

.name {
  width: 170px;
  min-width: 140px;
  padding: 8px 5px 8px 20px;
}

.searchButton {
  min-width: 65px;
}

.splitLine {
  width: 98%;
  margin: 12px 0px 12px 10px;
}

#detail-div {
  width: 97%;
}

#detail-table {
  height: 275px;
  overflow-y: scroll;
  min-height: 60px;
  min-width: 750px;
}

.tableHeader {
  background-color: #d9e1f2;
  font-size: var(--table-font-size);
  font-weight: bold;
}

.tableHeader tr td {
  top: 0;
  border-right: 1px solid black;
  border-left: 1px solid black;
  position: sticky;
  background-color: #d9e1f2;
}

.infoTable {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px 0px 0px 10px;
  width: calc(100% - 0.84em);
  min-width: calc(100% - 0.84em);
  font-size: var(--table-font-size);
}

.infoTable tbody tr td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 250px;
  padding: 2.5px   var(--table-padding);

}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.td_div_flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  height: var(--tr-height);
}

.scrBorder {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.flex_left {
  width: 50%;
  padding-left: var(--table-padding);

}

.flex_right {
  width: 50%;
  text-align: right;
}

.div-inlin {
  width: 40%;
  padding-left: var(--table-padding);

}

.flex_5 {
  width: 40%;
  text-align: right;
}

.sortButton {
  width: 20px;
  border: 0px;
  border-left: 1px solid black;
  margin: 0px;
  padding: 0px;
  line-height: 30px;
  text-align: center;
  background-color: #d9e1f2;
}

.allCheckbox {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 30px;
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.button-area {
  margin: 10px 0px 10px 0px;
  text-align: right;
}

.button-area button {
  min-width: 65px;
}
footer {
  margin-top: 0em;
}
.container{
  padding-bottom: 0px;
}

