<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/wpr007g.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/a5993139b5.js" crossorigin="anonymous"></script>
    <title>WPR007G|部数契約カレンダー閲覧</title>
</head>

<script>
    var isShow = false;
    var isShowSubTitle = false;
    function dropDown() {
        if (isShow) {
            document.getElementById("subTitle").style.overflow = "hidden";
            document.getElementById("subTitle").style.zIndex = "101";
            document.getElementById("subTitle").style.height = "0";
            isShow = false;
        } else {
            document.getElementById("subTitle").style.overflow = "visible";
            document.getElementById("subTitle").style.zIndex = "101";
            document.getElementById("subTitle").style.height = "6em";
            isShow = true
        }
    }

    function fileUploadDrop() {
        if (isShowSubTitle) {
            document.getElementById("fileUpload").style.overflow = "hidden";
            document.getElementById("fileUpload").style.zIndex = "101";
            document.getElementById("fileUpload").style.height = "0";
            isShowSubTitle = false;
        } else {
            document.getElementById("fileUpload").style.overflow = "visible";
            document.getElementById("fileUpload").style.zIndex = "101";
            document.getElementById("fileUpload").style.height = "4em";
            isShowSubTitle = true
        }
    }


</script>

<body>
    <div id="wrap">
        <header>
            <div class="header_title">
                <p class="p_title">Web仕入受付サービス（仮）</p>
                <div class="p_sub_title">
                    <ul id="navi_bar">
                        <li>
                            <a class="menu_title" href="WPR003G.html">ホーム</a>
                        </li>
                        <li>
                            <p class="menu_title">ファイルアップロード</p>
                            <ul>
                                <li><a href="WPR004G.html">アップロード・登録</a></li>
                                <li><a href="WPR005G.html">登録ファイル閲覧</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="menu_title">部数契約</p>
                            <ul>
                                <li><a href="WPR006G.html">部数契約承認</a></li>
                                <li><a href="WPR007G.html">部数契約カレンダー閲覧</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="right_header">
                <div>
                    <i class="fa-solid fa-head-side-virus"></i>
                    <span class="header_user">企業名　ID</span>
                </div>
                <div>
                    <i class="fa-solid fa-key"></i>
                    <a href="WPR001G.html" class="menu_title">パスワード変更</a>
                </div>
                <div>
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a href="WPR002G.html" class="menu_title">ログアウト</a>
                </div>


            </div>
        </header>

        <phoneHeader>
            <div class="p_header_title">
                <div onclick="javascript:dropDown();"><i class="fa-solid fa-bars"></i>
                </div>
                <p class="p_title">Web仕入受付サービス</p>
                <div class="p_sub_title" id="subTitle">
                    <ul id="navi_bar">
                        <li class="flex1">
                            <a class="menu_title" href="WPR003G.html">ホーム</a>
                        </li>
                        <li class="flex2">
                            <p class="menu_title" onclick="">ファイルアップロード</p>
                            <ul id="fileUpload">
                                <li><a href="WPR004G.html">アップロード・登録</a></li>
                                <li><a href="WPR005G.html">登録ファイル閲覧</a></li>
                            </ul>
                        </li>
                        <li class="flex1">
                            <p class="menu_title" onclick="">部数契約</p>
                            <ul id="copyContact">
                                <li><a href="WPR006G.html">部数契約承認</a></li>
                                <li><a href="WPR007G.html">部数契約カレンダー閲覧</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="right_header">
                <div >
                    <i class="fa-solid fa-head-side-virus"></i>
                </div>
                <div onclick="location.href=('WPR001G.html')">
                    <i class="fa-solid fa-key"></i>
                </div>
                <div onclick="location.href=('WPR002G.html')">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </div>


            </div>
        </phoneHeader>
            <div class="container">
                <h1>カレンダー検索</h1>
                <div id="searchArea">
                    <div class="searchBox">
                        <p class="searchName">搬入年月日</p>
                        <select class="searchSelect">
                            <option></option>
                            <option>2022/08/29</option>
                            <option>2022/08/27</option>
                        </select>
                    </div>
                    <div class="searchBox">
                        <p class="searchName">部数契約公開日</p>
                        <select class="searchSelect">
                            <option></option>
                            <option>2022/09/01</option>
                            <option>2022/08/30</option>
                        </select>
                    </div>
                   
                </div>
                <button class="btn searchBtn">検索</button>
                <p class="message">○件のデータの部数年月公開日を更新しました。</p>
                <div class="overflow">
                    <table class="listTable">
                        <thead>
                            <th class="thno"><div class="thDiv">No.</div></th>
                            <th class="textTh"><div class="thDiv">搬入年月日</div></th>
                            <th class="markTh"><div class="thDiv">曜日</div></th>
                            <th class="textTh"><div class="thDiv">【単品】</br>部数契約公開年月日</div></th>
                            <th class="markTh"><div class="thDiv">曜日</div></th>
                            <th class="textTh"><div class="thDiv">【セット】</br>部数契約公開年月日</div></th>
                            <th class="markTh"><div class="thDiv">曜日</div></th>
                        </thead>
                        <tbody>
                            <tr v-for="info in showInfoList">
                                <td class="tdno">{{info.no}}</td>
                                <td class="textTh">{{info.date1}}</td>
                                <td class="markTh">{{info.week1}}</td>
                                <td class="textTh"><input   v-model="info.date2"/></td>
                                <td class="markTh">{{info.week2}}</td>
                                <td class="textTh"><input   v-model="info.date3"/></td>
                                <td class="markTh">{{info.week3}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn dateUpdateBtn">公開日付更新</button>

            </div>
            <footer>
                <hr class="footer_hr">
                <div class="footer_div">
                    Copyright&copy;2022 NIPPAN All Rights Reserved.
                </div>
            </footer>
            <pfooter>
                <div class="footer_div">
                    Copyright&copy;2022 NIPPAN All Rights Reserved.
                </div>
            </pfooter>
    </div><!-- /wrap -->
    <script src="js/wpr007g.js"></script>
</body>

</html>