<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/wpr007g.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/a5993139b5.js" crossorigin="anonymous"></script>
    <title>WPR007G|部数契約カレンダー閲覧</title>
</head>

<script>
    // var isShow = false;
    var isShowSubTitle = false;
    var isShowSubCopyTitle = false;

    // function dropDown() {
    //     if (isShow) {
    //         document.getElementById("subTitle").style.display = "none";
    //         isShow = false;
    //         isShowSubTitle = false;
    //         isShowSubCopyTitle = false;
    //     } else {
    //         document.getElementById("subTitle").style.display = "flex";

    //         isShow = true
    //     }
    // }

    function fileUploadDrop() {
        if (isShowSubTitle) {
            document.getElementById("fileUpload").style.display = "none";
            isShowSubTitle = false;
        } else {
            document.getElementById("fileUpload").style.display = "flex";
            isShowSubTitle = true;
            document.getElementById("copyContact").style.display = "none";
            isShowSubCopyTitle = false;
        }
    }
    function copyContactDrop() {
        if (isShowSubCopyTitle) {
            document.getElementById("copyContact").style.display = "none";
            isShowSubCopyTitle = false;
        } else {
            document.getElementById("copyContact").style.display = "flex";
            isShowSubCopyTitle = true;
            document.getElementById("fileUpload").style.display = "none";
            isShowSubTitle = false;
        }
    }


</script>

<body>
    <div id="wrap">
        <header>
            <div class="header_title">
                <p class="p_title">Web仕入受付サービス（仮）</p>
                <div class="p_sub_title">
                    <ul id="navi_bar">
                        <li>
                            <a class="menu_title" href="WPR003G.html">ホーム</a>
                        </li>
                        <li>
                            <p class="menu_title">ファイルアップロード</p>
                            <ul>
                                <li><a href="WPR004G.html">アップロード・登録</a></li>
                                <li><a href="WPR005G.html">登録ファイル閲覧</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="menu_title">部数契約</p>
                            <ul>
                                <li><a href="WPR006G.html">部数契約承認</a></li>
                                <li><a href="WPR007G.html">部数契約カレンダー閲覧</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="right_header">
                <div>
                    <i class="fa-solid fa-user"></i>
                    <span class="header_user">企業名　ID</span>
                </div>
                <div>
                    <i class="fa-solid fa-key"></i>
                    <a href="WPR001G.html" class="menu_title">パスワード変更</a>
                </div>
                <div>
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a href="WPR002G.html" class="menu_title">ログアウト</a>
                </div>


            </div>
        </header>

        <phoneHeader>
            <div class="p_header_title">
                <!-- <div onclick="javascript:dropDown();"><i class="fa-solid fa-bars"></i> -->
                <!-- </div> -->
                <p class="p_title">Web仕入受付サービス</p>



                <!-- <div class="p_sub_title" id="subTitle">
                    <div id="navi_bar">
                        <div class="flex1">
                            <a class="menu_title" href="WPR003G.html">ホーム</a>
                        </div>
                        <div class="flex2">
                            <p class="menu_title" onclick="javascript:fileUploadDrop()">ファイルアップロード</p>
                        </div>
                        <div id="fileUpload" class="flex2">
                            <div><a href="WPR004G.html">アップロード・登録</a></div>
                            <div><a href="WPR005G.html">登録ファイル閲覧</a></div>
                        </div>
                        <div class="flex1" id = "copyli">
                            <p class="menu_title" onclick="javascript:copyContactDrop()">部数契約</p>
                        </div>
                        <div id="copyContact" class="flex2">
                            <div><a href="WPR006G.html">部数契約承認</a></div>
                            <div><a href="WPR007G.html">部数契約カレンダー閲覧</a></div>
                        </div>

                    </div>
                </div> -->

            </div>
            <div class="right_header">
                <div class="header_sub_title">
                    <i class="fa-solid fa-user"></i>
                    <div class="sub_title_span">ユーザーID</div>
                </div>
                <div class="header_sub_title" onclick="location.href=('WPR001G.html')">
                    <i class="fa-solid fa-key"></i>
                    <div class="sub_title_span">パスワード変更</div>
                </div>
                <div class="header_sub_title" onclick="location.href=('WPR002G.html')">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <div class="sub_title_span">ログアウト</div>
                </div>


            </div>

        </phoneHeader>
        <subHeader>
            <div class="p_sub_title" id="subTitle">
                <div id="navi_bar">
                    <div class="subTitle_30">
                        <a class="menu_title" href="WPR003G.html">ホーム</a>
                    </div>
                    <div class="subTitle_40">
                        <p class="menu_title" onclick="javascript:fileUploadDrop()">ファイルアップロード</p>

                    </div>
                    <div class="subTitle_30" id="copyli">
                        <p class="menu_title" onclick="javascript:copyContactDrop()">部数契約</p>

                    </div>
                </div>
                <div id="fileUpload" class="flex2">
                    <div class="sub_header_div">ファイルアップロード</div>
                    <div><a href="WPR004G.html">アップロード・登録</a></div>
                    <div><a href="WPR005G.html">登録ファイル閲覧</a></div>
                </div>
                <div id="copyContact" class="flex2">
                    <div class="sub_header_div">部数契約</div>
                    <div><a href="WPR006G.html">部数契約承認</a></div>
                    <div><a href="WPR007G.html">部数契約カレンダー閲覧</a></div>
                </div>


            </div>

        </subHeader>

            <div class="container">
                <h1>カレンダー検索</h1>
                <p class="message_phone">○公開日を更新しました。</p>
                <div id="searchArea">
                    <div class="searchBox">
                        <p class="searchName">搬入年月日</p>
                        <select class="searchSelect">
                            <option></option>
                            <option>2022/08/29</option>
                            <option>2022/08/27</option>
                        </select>
                    </div>
                    <div class="searchBox">
                        <p class="searchName">【単　品】部数契約公開日</p>
                        <select class="searchSelect">
                            <option></option>
                            <option>2022/09/01</option>
                            <option>2022/08/30</option>
                        </select>
                    </div>
                    <div class="searchBox">
                        <p class="searchName">【セット】部数契約公開日</p>
                        <select class="searchSelect">
                            <option></option>
                            <option>2022/09/01</option>
                            <option>2022/08/30</option>
                        </select>
                    </div>
                   
                </div>
                <div>
                    <button class="btn phone_dateUpdateBtn">承認更新</button>

                </div>
                <button class="btn searchBtn">検索</button>
                <p class="message">○件のデータの部数年月公開日を更新しました。</p>
                <div class="overflow">
                    <table class="listTable">
                        <thead>
                            <th class="thno"><div class="thDiv">No.</div></th>
                            <th class="textTh"><div class="thDiv">搬入年月日</div></th>
                            <th class="markTh"><div class="thDiv">曜日</div></th>
                            <th class="textTh"><div class="thDiv">【単品】</br>部数契約公開年月日</div></th>
                            <th class="markTh"><div class="thDiv">曜日</div></th>
                            <th class="textTh"><div class="thDiv">【セット】</br>部数契約公開年月日</div></th>
                            <th class="markTh"><div class="thDiv">曜日</div></th>
                        </thead>
                        <tbody>
                            <tr v-for="info in showInfoList">
                                <td class="tdno">{{info.no}}</td>
                                <td class="textTh">{{info.date1}}</td>
                                <td class="markTh">{{info.week1}}</td>
                                <td class="textTh"><input   v-model="info.date2"/></td>
                                <td class="markTh">{{info.week2}}</td>
                                <td class="textTh"><input   v-model="info.date3"/></td>
                                <td class="markTh">{{info.week3}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn dateUpdateBtn">公開日付更新</button>

            </div>
            <footer>
                <hr class="footer_hr">
                <div class="footer_div">
                    Copyright&copy;2022 NIPPAN All Rights Reserved.
                </div>
            </footer>
            <pfooter>
                <div class="footer_div">
                    Copyright&copy;2022 NIPPAN All Rights Reserved.
                </div>
            </pfooter>
    </div><!-- /wrap -->
    <script src="js/wpr007g.js"></script>
</body>

</html>